.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    min-height: calc(100vh - 200px);
    margin-top: 80px; /* Ajusta este valor según la altura de tu header */
  }