.home {
  font-family: Calibri, sans-serif;
  color: #774c81;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F6E8ED;
  flex-direction: column;
}

.home div {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
}

.home input{
  height: 50px;
}

.home img {
    width : 50px; /* Tamaño automático (tamaño real) */
    height: 50px; /* Tamaño automático (tamaño real) */
}

.home h2{
  text-align: center;
}

.buscador {
  background-color: white;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
}

.recomendado {
  background-color: white;
}


